<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.EmployeeMapper">

	<!-- Cursor -->
	<select id="findByGender" resultType="Employee">
		SELECT
			id
			, name
			, age
			, gender
		FROM
			employee
		<where>
			gender = #{genderParam}
		</where>
		ORDER BY
			id
	</select>
	
	<!-- Paging -->
	<select id="findByGenderPaging" resultType="Employee">
		SELECT
			id
			, name
			, age
			, gender
		FROM
			employee
		<where>
			gender = #{genderParam}
		</where>
		ORDER BY
			id
		LIMIT #{_pagesize}
		OFFSET #{_skiprows}
	</select>

</mapper>